
@keyframes aparecer {
  0%   {opacity: 0;}
  100% {opacity: 1;}
}

body {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
  color: white;
}

.snowflake {
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  filter: drop-shadow(0 0 10px white);
}

header, section, footer {
  padding: 20px;
  margin-bottom: 20px;
  position: relative;
  z-index: 2;
}

header, footer {
  background-color: #cc0000;
}

h1 {
  color: #72d372;
}

#myText {
  animation-name: aparecer;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  position: relative; /* Adjusted position */
  z-index: 1; /* Ensure it's above snowflakes */
}

#contador {
  font-size: 60px;
  background-color: #ff0000;
  color: #ffffff;
  display: inline-block;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
/* Responsive styling for screens smaller than 600px */
@media only screen and (max-width: 600px) {
  #contador {
    font-size: 30px; /* Adjust font size for smaller screens */
    padding: 10px; /* Adjust padding for smaller screens */
  }
}
#snow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0; /* Adjusted z-index */
}
#musicalNote {
  position: relative;
  display: inline-block;
  text-decoration: none; /* Initially, no strikethrough */
  color: #ffffff; /* Set the color to match the background or your preference */
  cursor: pointer; /* Add cursor pointer to indicate it's clickable */
}

#musicalNote::before {
  content: '\266A'; /* Unicode for the musical note symbol */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 36px; /* You can adjust the size as needed */
}
html{
  height: 100%;
}
